* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: normal;
}

h1, h2, h3, ul, li, p {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/*portfolio*/

.portfolio {
    color: #767e9e;
    background-color: #2d303a;
}

.portfolio__wrap {
    padding: 66px 40px 47px;
}

.portfolio__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 24px;
    padding-bottom: 30px;
}

.portfolio__text {
    padding-bottom: 19px;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
}

.portfolio__nav {
    padding: 0 0 19px 1px;
}

.portfolio__nav-btn {
    padding: 5px 7px 5px 6px;
    margin-right: 7px;
    font-size: 12px;
    line-height: 10px;
    color: #767e9e;
    background-color: transparent;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio__nav-btn:hover {
   text-decoration: underline;
}

.portfolio__nav-btn:nth-child(3) {
    padding: 5px 6px;
}

.portfolio__nav-btn:nth-child(4) {
    padding: 5px 5px;
}

.portfolio__nav-btn_selected {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__gallery-img {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.img1 {
    background-image: url("assets/img/pic1.png");
    background-position: -8px -10px;
}

.img2 {
    background-image: url("assets/img/pic2.png");
    background-position: -82px -42px;
}

.img3 {
    background-image: url("assets/img/pic3.png");
    background-position: -11px 0px;
}

.img4 {
    background-image: url("assets/img/pic4.png");
    background-position: -24px -2px;
}

.img5 {
    background-image: url("assets/img/pic5.png");
    background-position: -10px -14px;
}

.img6 {
    background-image: url("assets/img/pic6.png");
    background-position: -15px -2px;
}

.img7 {
    background-image: url("assets/img/pic7.png");
    background-position: -32px -37px;
}

.img8 {
    background-image: url("assets/img/pic8.png");
    background-position: -23px -31px;
}

.img9 {
    background-image: url("assets/img/pic9.png");
    background-position: -15px -1px;
}

.img10 {
    background-image: url("assets/img/pic10.png");
    background-position: -141px -112px;
}

.img11 {
    background-image: url("assets/img/pic11.png");
    background-position: -145px 238px;
}

.img12 {
    background-image: url("assets/img/pic12.png");
    background-position: -37px -59px;
}

.portfolio-about-us__separator {
    height: 6px;
    background-color: #323746;
}

/*about-us*/

.about-us {
    color: #666d89;
    background-color: #f2f2f2;
}

.about-us__wrap {
    padding: 64px 40px 67px;
}

.about-us__title {
    padding-bottom: 23px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 900;
}

.about-us__text {
    padding-bottom: 45px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.about-us__cards {
    display: flex;
    justify-content: space-between;
}

.about-us__card {
    width: 300px;
}

.about-us__card__photo {
    margin-bottom: 14px;
}

.about-us__card__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.about-us__card__text {
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
}

.about-us__card__social-media {
    display: flex;
}

.about-us__card__social-media-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    cursor: pointer;
}

.about-us__card__social-media-item:hover {
    transform: scale(1.2);
}

.facebook {
    background-image: url("assets/img/facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.google {
    background-image: url("assets/img/google+.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image: url("assets/img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.linked-in {
    background-image: url("assets/img/linkedin.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.about-us__separator {
    height: 6px;
    background-color: #ffffff;
}