* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: normal;
}

h1, h2, h3, ul, li, p {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/*header*/

.main-header {
    position: sticky;
    top: 0;
    background-color: #2d303a;
    z-index: 1;
}

.main-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    padding: 0 40px;
}

.main-header__logo {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-header__logo:after {
    content: "*";
    color: #f06c64;
}

.main-header__items {
    display: flex;
    padding-top: 10px;
}

.main-header__item {
    position: relative;
}

.main-header__item:after {
    content: "\00B7";
    position: absolute;
    right: 13px;
    color: #494e62;
}

.main-header__item:last-child .main-header__link {
    margin-right: 0;
}

.main-header__item:last-child:after {
    content: "";
}

.main-header__link {
    margin-right: 31px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0;
}

.main-header__link:hover {
    text-decoration: underline;
}

.main-header__link_selected {
    color: #f06c64;
}

.main-header__separator {
    height: 6px;
    background-color: #323746;
}

/*slider*/

.slider {
    background-color: #f06c64;
}

.slider__wrap {
    display: flex;
}

.slider__control {
    position: relative;
    width: 112px;
    text-align: center;
}

.slider__control_left,
.slider__control_right{
    position: absolute;
    top: calc(50% - 17px);
}

.slider__control_left:hover,
.slider__control_right:hover{
    cursor: pointer;
}

.slider__control_left {
    left: calc(50% - 13px);
}

.slider__content {
    padding: 53px 0 58px;
}

.slider__wrapper {
    position: relative;
    overflow: hidden;
}

.slider__item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
}

.slider__img-btn_left,
.slider__img-btn_right {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.slider__img-btn_left {
    top: 62px;
    left: 11px;
    width: 194px;
    height: 390px;

}

.slider__img-btn_right {
    top: 132px;
    right: 88px;
    width: 390px;
    height: 194px;
}

.slider__item-active,
.slider__item-next {
    display: block;
}

.slider__item-next {
    position: absolute;
    top: 0;
}

.slider__item_to-left {
   animation-name: left;
}

.slider__item_to-right {
    animation-name: right;
}

.slider__item_from-left {
    animation-name: left;
    animation-direction: reverse;
}

.slider__item_from-right {
    animation-name: right;
    animation-direction: reverse;
}

@keyframes left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.slider-services__separator {
    height: 4px;
    background-color: #ea676b;
}

/*services*/

.services {
    color: #666d89;
    background-color: #f2f2f2;
}

.services__wrap {
    padding: 60px 40px 58px;
}

.services__title {
    margin-bottom: 19px;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
}

.services__subtitle {
    margin-bottom: 47px;
    line-height: 30px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
    word-spacing: 1px;
    text-align: justify;
}

.services__info-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.services__info-list:first-of-type {
    padding-bottom: 32px;
}

.services__info-list__item {
    flex: 1 1;
    display: flex;
}

.services__info-list__item:first-child {
    min-width: 320px;
    padding-right: 20px;
}

.services__info-list__item:nth-child(2) {
    min-width: 320px;
    padding-right: 20px;
}

.services__info-list__item-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;
}

.services__info-list__description {
    padding-left: 21px;
}

.services__info-list__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 16px;
    color: #666d89;
    font-weight: 900;
}

.services__info-list__subtitle {
    max-width: 220px;
    max-height: 66px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
}

.services__separator {
    height: 6px;
    background-color: #ffffff;
}

/*portfolio*/

.portfolio {
    color: #767e9e;
    background-color: #2d303a;
}

.portfolio__wrap {
    padding: 66px 40px 46px;
}

.portfolio__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 24px;
    padding-bottom: 30px;
}

.portfolio__text {
    padding-bottom: 19px;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
}

.portfolio__nav {
    padding: 0 0 19px 1px;
}

.portfolio__nav-btn {
    padding: 5px 7px 5px 6px;
    margin-right: 7px;
    font-size: 12px;
    line-height: 10px;
    color: #767e9e;
    background-color: transparent;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio__nav-btn:hover {
    text-decoration: underline;
}

.portfolio__nav-btn:nth-child(3) {
    padding: 5px 6px;
}

.portfolio__nav-btn:nth-child(4) {
    padding: 5px 5px;
}

.portfolio__nav-btn_selected {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__gallery-img {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.portfolio__gallery-img:nth-child(n + 13) {
    display: none;
}

.img1 {
    background-image: url("assets/img/pic1.png");
    background-position: -8px -10px;
}

.img2 {
    background-image: url("assets/img/pic2.png");
    background-position: -82px -42px;
}

.img3 {
    background-image: url("assets/img/pic3.png");
    background-position: -11px 0;
}

.img4 {
    background-image: url("assets/img/pic4.png");
    background-position: -24px -2px;
}

.img5 {
    background-image: url("assets/img/pic5.png");
    background-position: -10px -14px;
}

.img6 {
    background-image: url("assets/img/pic6.png");
    background-position: -15px -2px;
}

.img7 {
    background-image: url("assets/img/pic7.png");
    background-position: -32px -37px;
}

.img8 {
    background-image: url("assets/img/pic8.png");
    background-position: -23px -31px;
}

.img9 {
    background-image: url("assets/img/pic9.png");
    background-position: -15px -1px;
}

.img10 {
    background-image: url("assets/img/pic10.png");
    background-position: -141px -112px;
}

.img11 {
    background-image: url("assets/img/pic11.png");
    background-position: -145px 238px;
}

.img12 {
    background-image: url("assets/img/pic12.png");
    background-position: -37px -59px;
}

.portfolio-about-us__separator {
    height: 6px;
    background-color: #323746;
}

/*about-us*/

.about-us {
    color: #666d89;
    background-color: #f2f2f2;
}

.about-us__wrap {
    padding: 64px 40px 67px;
}

.about-us__title {
    padding-bottom: 23px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 900;
}

.about-us__text {
    padding-bottom: 43px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.about-us__cards {
    display: flex;
    justify-content: space-between;
}

.about-us__card {
    width: 300px;
}

.about-us__card__photo {
    margin-bottom: 14px;
}

.about-us__card__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.about-us__card__text {
    max-width: 300px;
    max-height: 44px;
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
}

.about-us__card__social-media {
    display: flex;
}

.about-us__card__social-media-item {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.about-us__card__social-media-item:hover {
    transform: scale(1.2);
}

.facebook {
    background-image: url("assets/img/Facebook2.svg");
}

.google {
    background-image: url("assets/img/Google2.svg");
}

.twitter {
    background-image: url("assets/img/Twitter2.svg");
}

.linked-in {
    background-image: url("assets/img/LinkedIn2.svg");
}

.about-us__separator {
    height: 6px;
    background-color: #ffffff;
}

/*contacts*/


.contacts {
    color: #f0d8d9;
    background-color: #f06c64;
}

.contacts__wrap {
    padding: 67px 40px 12px;
}

.contacts__title {
    padding-bottom: 25px;
    font-size: 30px;
    line-height: 22px;
    font-weight: 900;
}

.contacts__text {
    padding-bottom: 44px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.contacts__info__title {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.contacts__info__text,
.contacts__info__items {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.contacts__info__ref {
    color: #f0d8d9;
}

.contacts__info__text {
    padding-bottom: 22px;
    text-align: justify;
}

.contacts__info__list {

}

.contacts__info__items {
    position: relative;
    padding-left: 23px;
    margin-bottom: 6px;
    line-height: 16px;
}

.contacts__info__items:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 2px;
    height: 13px;
    width: 13px;
    background: url(assets/img/phone2.svg) no-repeat left top;
}

.contacts__info__items:first-child:before {
    left: 3px;
    top: 1px;
    background: url(assets/img/location.svg) no-repeat left top;
}

.contacts__info__items:last-child:before {
    left: 0;
    top: 5px;
    background: url(assets/img/mail.svg) no-repeat left top;
}

.contacts__box {
    display: flex;
}

.contacts__form {
    flex: 2 2 60%;
    display: flex;
    flex-direction: column;
    padding-right: 9px;
}

.contacts__input,
.contacts__textarea,
.contacts__btn {
    padding: 8px 14px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
}

.contacts__input {
    margin-bottom: 16px;
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
    color: #f48c8f;
}

.contacts__textarea {
    height: 202px;
    resize: none;
}

.contacts__btn {
    margin-top: 16px;
}

.contacts__btn:hover {
    color: #d6564f;
    background-color: #f48c8f;
}

.contacts__info {
    flex: 1 1 30%;
    padding-left: 13px;
}

.contacts__separator {
    height: 6px;
    background-color: #ea676b;
}

.footer {
    background-color: #2d303a;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 40px;
}

.footer__text {
    padding-left: 2px;
    font-size: 12px;
    line-height: 14px;
    color: #666d89;
}

.footer__social-media__ref {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 6px;
    border-radius: 50%;
    border: 1px solid #666d89;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer__social-media__ref:hover {
    transform: scale(1.2);
}

.footer__facebook {
    background-image: url("assets/img/Facebook2.svg");
}

.footer__google {
    background-image: url("assets/img/Google2.svg");
}

.footer__twitter {
    background-image: url("assets/img/Twitter2.svg");
}

.footer__linkedin {
    background-image: url("assets/img/LinkedIn2.svg");
}